POSTGRES_PASSWORD=changeme
WEB_PORT=<(Optional) Override the default port (8080) where the app should be reachable your host>
IMAGE_MOUNT=<(Optional) Override the default mount point (/images) for you images. This folder should contain 2 subfolders /conditions und /maps.